.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.filter {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 3%;
  border-radius: 25px;
}

.checkbox {
  margin-top: 4%;
}

.status {
  margin-top: 2.25%;
}

.userProfile {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 25px;
  padding-top: 1%; 
}

.home {
  border-radius: 100px;
  background-color: rgba(255, 255, 255, .7);
}

.homeImage {
  width: 200px !important;
  border: none;
  padding: 10%;
}

.homeLabel {
  margin-top: 20%
}

.friendsButtonCell {
  margin-top: 5%; 
}

.card {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.9);
}

label {
  color: rgb(61, 63, 71) !important;
}

.card-action {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.container {
  margin-top: 3%;
}

.btn {
  background-color: rgb(255, 131, 0);
}

.btn:hover {
  background: rgb(61, 63, 71);
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid rgb(92, 192, 231) !important;
  box-shadow: 0 1px 0 0 rgb(92, 192, 231) !important;
}

.input-field input[type=password]:focus {
  border-bottom: 1px solid rgb(92, 192, 231) !important;
  box-shadow: 0 1px 0 0 rgb(92, 192, 231) !important;
}

.active {
  color: rgb(61, 63, 71) !important;
}

.forgotLink {
  font-size: 8px;
}

.forgotLink:hover {
  font-size: 8px;
  color: rgb(61, 63, 71);
}

.registerLinkText {
  font-size: 8px;
}

.registerLink {
  font-size: 8px;
  color: rgb(92, 192, 231) !important;
}

.registerLink:hover {
  font-size: 8px;
  color: rgb(61, 63, 71) !important;
}

.banner {
  border: none;
}

.warning {
  color: red !important;
  font-size: 8pt;
}

.loadingImage {
/*  height: 150px;
  width: 150px !important; */
  border: none;
}

.centerContainer {
  margin-top: 15%
}

#search {
  color: rgb(92, 192, 231);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(61, 63, 71);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(61, 63, 71);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(61, 63, 71);
}

.searchTable {
  background-color: rgba(255, 255, 255, .7);
  border-radius: 20px;
}

.buttonCell {
  margin-top: 3%;
}

.redButton {
  background-color: red;
}

.redButton:hover {
  background-color: darkred;
}

label {
  color: rgb(61, 63, 71);
}

img {
  width: 75% !important;
  border: solid 1px rgb(61, 63, 71);
}

.userdata {
  padding-top: 5% !important;
}

.labels {
  margin-top: 7%;
}

.btn {
  border-radius: 20px;
}

.secondary {
  color: black;
  background: white;
}

.secondary:hover {
  color: white;
}

.top {
  margin-top: 8%;
}

.logout {
  background-color: rgb(61, 63, 71);
  font-weight: bold;
}

.logout:hover {
  background-color:rgb(255, 131, 0);
}

.playingField {
  border: solid 1px black;
  height: 40px;
}

.gameCard {
  margin-top: 2%;
}

.ship {
  background: gray;
}